@media all and (max-width: 600px) {

p {
	font-size: 14px;
	padding: 20px 45 20px 45;
	height:auto;
	color:#545454;
	text-align: center;
}

#map.add-station-details {
	display: none;
} 

#station-details.show-station-details {
	display: block;
	height: 500px;
	background-color: #FFFFFF;
	color:#545454;
	margin: 0 10px 0 10px;
	padding-left: 5px;
	width: 100%;
	height:450px;
}

#myDescriptions {
	font-size: 12px;
	padding: 20px 50px 20px 50px;
	height:auto;
	color:#545454;
}

.container-map h2 {
	padding: 0 22px 0 22px;
	text-align: center; 
}

#go-back-map-mobile {
	display: inline-block;
	color:#545454;

}



}

@media all and (min-width: 601px) and (max-width: 1024px) {

#station-details.show-station-details {
	display: block;
	height: 500px;
	background-color: #FFFFFF;
	color:#545454;
	margin: 0 10px 0 10px;
	padding-left: 5px;
	width: 60%;
	height:500px;
}

#map.add-station-details {
	width: 40%;
	height:500px;
}


}